html 
{ 
    font-size: 100%; 
    overflow-y: scroll; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
}

body
{
    font-family: 'Montserrat', sans-serif;

    margin: 0;
}

section
{
    display: flex;
    justify-content: center;
    
    margin: 0 auto;

    max-width: 1280px;
}

/* header & 1st block section */

header 
{
    font-family: 'Nunito', sans-serif;

    display: flex;
    align-items: center;

    margin: 45px auto;

    width: 310px;
    padding: 0px;
}

.button
{
    cursor: pointer;
}

#sc
{
    margin-left: 40px;
}

.signing_links
{
    font-weight: 700;
    font-size: 0.875em;

    margin-left: 273px;
}

#sign_up_link
{
    text-decoration: none;
    color: #156963;

    text-align: center;

    padding: 8px 29.5px;

    width: 52px;

}

#sign_in_link
{
    text-decoration: none;
    background: #156963;
    color: white;

    text-align: center;

    padding: 8px 29.5px;
    border: 1px solid #156963;

    width: 52px;

}

#sign_up_link:hover
{
    text-decoration: underline;
    color: #156963;

    text-align: center;

    padding: 8px 29.5px;

    width: 52px;

}

#sign_in_link:hover
{
    text-decoration: underline;
    background: white;
    color: #156963;

    text-align: center;

    padding: 8px 29.5px;
    border: 1px solid #156963;

    width: 52px;
}

.welcoming_text
{
    padding: 60px 76px 110px 77px;

    width: 523px;
}

h1
{
    color: #156963;

    font-weight: 500;
    font-size: 4.25em;
    line-height: 82.89px;
}

.txt-1
{
    color: #2C1500;
    opacity: 0.8;

    font-weight: 400;
    font-size: 1.125em;
    line-height: 32px;
}

.welcoming_frame
{
    margin-bottom: 142px;
}

/* 2nd block section */

.pros
{
    margin-bottom: 80px;
}

.container
{
    display: flex;
    flex-wrap: wrap;

    margin-right: 32px;
    border: 1px solid #E0E0E0;

    width: 268px;
    height: 155px;
}

.container:first-child
{
    margin-left: 56px;
}

.container:last-child
{
    margin-right: 56px;
}

.icon
{
    width: 48px;
    height: 48px;

    margin: 22px 0 0 16px;
}

h2
{
    color: #156963;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1em;
    line-height: 24px;

    margin: 22px 0 0 16px;

    max-width: 137px;
    max-height: 48px;
}

.txt-2
{
    color: #2C1500;

    font-weight: 400;
    font-size: 0.625em;
    line-height: 16px;

    align-self: flex-end;

    margin: 16px 16px 21px 16px;

    width: 236px;
    height: 48px;
}

/* 3rd block section */

h3
{   
    color: #000000;

    text-align: center;

    font-weight: 500;
    font-size: 1.25em;

    margin: 0 auto;
    padding-bottom: 16px;
    border-bottom: 1px solid #E0E0E0;

    max-width: 1168px;
}

.plant_items
{
    display: flex;
    justify-content: center;
}

.plant_item
{
    margin-top: 31px;
    margin-right: 20px;
}

.plant_item:last-child
{
    margin-right: 0px;
}

.plant_name
{
   text-align: center;
   font-weight: 400;
   font-size: 1em;

   margin-top: 16px;
   margin-bottom: 8px;
}

.plant_price
{
    text-align: center;

    font-weight: 600;
    font-size: 1em; 
}

/* 4th block section */

.slogan_frame
{
    justify-content: space-between;

    margin-top: 80px;

    width: 1165px;
    height: 609.9px;
}

.slogan
{
    font-weight: 700;
    font-size: 2.5em;
    line-height: 56px;

    margin-top: 9.73px;
    margin-left: 21px;

    width: 522px;
    height: 112px;
}

.txt-3
{
    font-weight: 400;
    font-size: 1em;
    line-height: 28px;

    margin-left: 21px;
    margin-bottom: 74px;

    width: 506.69px;
    height: 140px;
}

#img-2
{   
    margin-bottom: 8.5px;

    width: 568px;
    height: 250px;
}

#img-3
{   
    width: 513px;
    height: 609.9px;
}

/* 5th block section */

.shop_ad
{
    justify-content: space-between;

    background-color: #F3F4F6;

    margin-top: 80.56px;
    margin-bottom: 80px;

    width: 1168px;
    height: 360px;
}

.phrase
{
    font-weight: 700;
    font-size: 2.5em;
    line-height: 56px;

    margin-top: 88px;
    margin-bottom: 32px;
    margin-left: 97px;

    width: 585px;
    height: 112px;
}

#visit_shop_link
{
    text-decoration: none;
    background: #156963;
    color: #FAFEFE;

    text-align: center;

    margin-left: 97px;
    padding: 10px 42px;
    border: 1px solid #156963;

    height: 40px;
    width: 152px;
}

#visit_shop_link:hover
{
    text-decoration: underline;
    background: #F3F4F6;;
    color: #156963;

    text-align: center;

    padding: 10px 42px;
    border: 1px solid #156963;

    width: 152px;
}

/* footer section */

footer
{
    display: flex;
    justify-content: space-between;

    font-family: 'Work Sans', sans-serif;

    margin: 0 auto;
    border-top: 1px solid #1569634d;
        
    width: 1280px;
    height: 268px;
}

.box
{
    margin-top: 60px;
    margin-right: 80px;
}

.adress
{
    margin-left: 167px;

    width: 282px;
    height: 137px;
}

.ppl
{
    width: 95px;
    height: 82px; 
}

.logo
{
    color: #156963;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    margin-bottom: 24px;
}

.house
{
    font-weight: 500;
    font-size: 1em;

    color: #333333;
}

.txt-4
{
    color: #4F4F4F;

    font-weight: 400;
    font-size: 0.8125em;
    line-height: 20px;

    margin-top: 10px;

    width: 282px;
    height: 60px;
}

.hn
{  
    color: #000000;

    font-weight: 500;
    font-size: 1em;
    line-height: 16px;

    margin-bottom: 20px;
      
}

.txt-5
{
    color: #000000;

    font-weight: 400;
    font-size: 0.8125em;
    line-height: 16px;

    margin-bottom: 14px;
}

input
{
    color: #000000;
    opacity: 0.5;

    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 0.75em;
    line-height: 16px;

    padding: 8px 87px 8px 13px;
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    margin-bottom: 18px;
}

#submit
{
    text-decoration: none;
    background: #156963;
    color: #FFFFFF;

    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 0.5em;
    line-height: 14px;

    text-align: center;
    text-transform: capitalize;

    padding: 4px 12px;
    border: 1px solid #156963;
    border-radius: 2px;

    width: 51px;
    height: 22px;
}

#submit:hover
{
    text-decoration: none;
    background: #FFFFFF;
    color: #156963;

    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 0.5em;
    line-height: 14px;

    text-align: center;
    text-transform: capitalize;

    padding: 4px 12px;
    border: 1px solid #156963;
    border-radius: 2px;

    width: 51px;
    height: 22px;
}





/* media queries */

@media (max-width: 1270px)
{
    section
    {
        margin: 0 56px;

        justify-content: space-between;
    }

    .welcoming_frame
    {
        margin: 0 auto 100px auto;
    }
    
    .pros
    {
        margin: 0 auto 80px auto;
    }
}


@media (max-width: 820px)
{
    header 
    {
        width: auto;

        justify-content: center;
    }

    .signing_links 
    {
        font-size: 1.25em;

        margin: 45px auto;
    }

    #sign_up_link 
    {
        width: auto;
    }

    #sign_in_link 
    {
        width: auto;
    }

    #sign_up_link:hover 
    {
        width: auto;
    }

    #sign_in_link:hover
    {
        width: auto;
    }

    .txt-1 
    {
        font-size: 1.6em;
    }

    .container
    {
        width: fit-content;
        height: fit-content;
    }

    h2
    {
        font-size: 1.25em;
    }

    #gcs
    {
        max-width: 169px;
    }

    .txt-2
    {
        font-size: 0.95em;

        height: auto;
    }

    h3
    {
        font-size: 1.75em;
    }

    .plant_name
    {
        font-size: 1.15em;
    }

    .plant_price
    {
        font-size: 1.3em;
    }

    .slogan 
    {
        font-size: 2.68em;
    }

    .txt-3
    {
        font-size: 1.25em;
    }
}

@media (max-width: 480px)
{
    .img-1
    {
        display: none;
    }

    .welcoming_frame
    {
        margin: auto auto 100px auto;
        text-align: center;
        width: 1280px;
        display: flex;
        justify-content: center;
    }

    .signing_links
    {
        margin-top: 90px;
        font-size: 1.8em;
        justify-content: space-evenly;
    }

    .button
    {
        width: 4.3%;
        height: auto;
    }

    .welcoming_text
    {
        width: 930px;
    }

    h1
    {
        font-size: 5em;
    }

    .txt-1
    {
        font-size: 2em;
        line-height: initial;
    }

    .pros
    {
        display: none;
    }

    .featured_plants
    {
        width: 1280px;
        margin: auto;
        justify-content: center;
    }

    h3
    {
        font-size: 3em;
    }

    .plant_items
    {
        margin: 0 auto;
        width: 1280px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .plant_item
    {
        margin: 45px 25px 75px 25px;
        width: 480px;
    }

    .plant_pic
    {
        width: 100%;
        height: auto;
    }

    .plant_name
    {
        font-size: 2.5em;
    }

    .plant_price
    {
        font-size: 2.7em;
    }

    .slogan_frame
    {
        width: auto;
        height: auto;
    }

    .slogan
    {
        font-size: 3.15em;
        width: auto;
        height: auto;
    }

    .txt-3
    {
        font-size: 2em;
        width: auto;
        height: auto;
        line-height: initial;
    }

    #img-2
    {
        width: 1168px;
        height: auto;
        margin: 0 auto;
    }

    #img-3
    {
        display: none;
    }

    .shop_ad
    {
        flex-direction: column;
        height: auto; 
        flex-wrap: wrap;
    }
    
    .phrase
    {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    .ad_block
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 25px;
    }

    #img-4
    {
        width: 640px;
        margin: 0 auto;
    }

    #visit_shop_link
    {
        font-size: 1.6em;
        margin: auto;
        height: auto;
    }

    footer
    {
        font-size: larger;
    }

    .adress
    {
        margin-left: 85px;
    }

    .box
    {
        margin: auto;
    }

    .email
    {
        margin-right: 85px;
    }

    .hn
    {
        font-size: 1.1em;
    }

    input
    {
        font-size: 1em;
        border: 2px solid #818181;
    }

    #submit
    {
        font-size: 1em;
    }

}
